{% extends 'blog/base.html' %}

{% block content %}
<div class="container">
    <ul class="list-group">
        <li class="list-group-item"> 👋 Hola, soy Bergagno Martín --  <a href="https://github.com/martin-b-07e5">martin-b-07e5</a></li>
        <li class="list-group-item"> 👋 Hola, soy Paz Almirón Nicolás --  <a href="https://github.com/PazNicolas">PazNicolas</a></li>
        <li class="list-group-item"> 👋 Hola, soy Tomas Aquino --  <a href="https://github.com/TomasGaAqBz">TomasGaAqBz</a></li>
        <li class="list-group-item"> 👋 Hola, soy Ilich Betancourt  --  <a href="https://github.com/IBetaR">IBetaR</a></li>
        <li class="list-group-item"> 👋 Hola, soy Ojeda Adrián David  --  <a href="https://github.com/Grimill22">Grimill22</a></li>
        <li class="list-group-item"> 👋 Hola, soy Lopez Goitia Eduardo  --  <a href="https://github.com/EduLoGo">EduLoGo</a></li>
        <li class="list-group-item"> 👋 Hola, soy Peña Miguel Ángel  --  <a href="https://github.com/MigueProg">MigueProg</a></li>
        <li class="list-group-item"> 👋 Hola, soy Torres Facundo  --  <a href="https://github.com/TorresFacundoSeb">TorresFacundoSeb</a></li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item;">🌱 Actualmente aprendiendo... OOA + OOD + OOP + python + django + SQL + Control de versiones con Git + Manejo de proyectos con Scrum y Kanban...</li>
        <li class="list-group-item;">💞️ Estamos colaborando para completar el proyecto final.</li>
        <li class="list-group-item;">📫 Como contactarnos? ... mediante nuestro usuario de github.</li>
    </ul>
</div>
{% endblock %}